@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

html, body {
    font-family: 'Lora', serif;
}

h1, h2 {
    font-family: 'Fredericka the Great', cursive;
    text-transform: uppercase;
    font-weight: normal;
}

.btn {
    font-family: inherit;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    background: none;
    border: 1px solid black;
    padding: 0.5em;
    margin: 0 1em;
    vertical-align: top;
    min-width: 8em;
}

.btn:hover, .btn:focus {
    cursor: pointer;
    background-color: #c9c9c9;
    outline: none;
}

.btn:active {
    background-color: #686868;
    color: #fff;
}

.btn-group .btn {
    margin: 0;
    border-left: none
}

.btn-group .btn:first-child {
    border-left: 1px solid black;
}

.textarea {
    border: 1px solid black;
    padding: 1em;
}

.text-center {
    text-align: center;
}

.story-wrapper {
    margin: 1em auto;
    width: 30em;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
}

.story-line {
    font-size: 20px;
}

.top-stories {
    margin: auto;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    border: 1px solid black;
    margin: 1em;
    width: 20em;
}

.card.clickable:hover, .card.clickable:focus {
    cursor: pointer;
    background-color: #c9c9c9;
    outline: none;
}

.card.clickable:active {
    background-color: #686868;
    color: #fff;
}

.card-title {
    padding: 1em;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.card-lil-info {
    float: right;
    font-size: 14px;
    padding-right: 4px;
}

.card-body {
    text-align: center;
    margin: 0 1em;
}

.card-body .story-line {
    text-align: left;
    font-size: 16px;
    font-weight: normal;
}

.browse-container {
    margin-top: 10em;
    overflow: hidden;
    width: 30em;
    margin: 10em auto;
}

.browse-container .browse-container-links {
    text-align: center;
}

h1.clickable, h2.clickable, h3.clickable{
    transition: transform ease-in-out 0.1s;
}

h1.clickable:hover, h1.clickable:focus,
h2.clickable:hover, h2.clickable:focus,
h3.clickable:hover, h3.clickable:focus {
    cursor: pointer;
    /*transform: translateX(10px)*/
}
